body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: grey;
  font-family: sans-serif;

  .header {
    display: flex;
    width: 100vw;
    height: 15vh;
    background: green;
    p{
      font-weight:600;
      margin: auto;
    }
  }

  .content{
    width: 100vw;
    height: 75vh;
  }
  .footer{
    display: flex;
    width: 100vw;
    height: 10vh;
    background: lightblue;
    p{
      font-weight:400;
      margin: auto;
    }
  }
}
